{% extends 'base.html' %}

{% block content %}

<div class="colorful">
  <main class="container text-center homepage enlarge pt-9">
    {% include '_messages.html' %}
    <h1 id="main-heading">Squeeze that link</h1>
    <form method="post" class="form" id="main-form" novalidate>{% csrf_token %}
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      <div class="flex-group">
      {% for field in form.visible_fields %}
        {{ field }}
      <button type="submit" class="btn">Ease</button>
      </div>
        {% if field.errors %}
          {% for error in field.errors %}
            <small class="text-error">{{ error }}</small>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </form>
    {% if not request.user.is_authenticated %}
      <p>Want more control and even shorter links?
        <a href="{% url 'register' %}">Register</a>
      </p>
      <p><a href="{% url 'about' %}">Learn more </a>about what you can get creating an account.</p>
      <p><a href="{% url 'login' %}">Log in</a> if you’re already in.</p>
    {% else %}
      <a href="{% url 'dashboard' %}" class="d-block">Dashboard</a>
    {% endif %}
  </main>
</div>
{% endblock content %}