[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
ipython = "*"

[packages]
django = "==3.2.11"
psycopg2 = "*"
dj-database-url = "*"
djangorestframework = "*"
whitenoise = "*"
gunicorn = "*"
pytest = "*"
pytest-django = "*"
pytest-factoryboy = "*"
faker = "*"
pytest-cov = "*"
django-environ = "*"

[requires]
python_version = "3.9"
