[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
faker = "*"
pytest-factoryboy = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
