{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Change Password" %} | 
{% endblock title %}

{% block content %}
  <div class="container pt-5">
    <form method="post" class="form auth-form">{% csrf_token %}
      <h2>{% trans "Change Password" %}</h2>
      {% include '_form.html' with form=form %}
      <div class="btn-wrap">
        <button type="submit" class="btn btn-accent">{% trans "Save changes" %}</button>
        <small class="text-muted">
          <a href="{% url 'password_reset' %}" class="link">{% trans "Forgot you old password?" %}</a>
          <a href="{% url 'home' %}" class="text-muted dblock">{% trans "Homepage" %}</a>
        </small>
      </div>
    </form>
    {% include '_footer_simple.html' %}
  </div>
{% endblock content %}
