{% load i18n %}

{% autoescape off %}
  {% include 'users/style_email.html' %}
  <p>
    {% blocktranslate %}You’re receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
  </p>

  <p>{% translate "Please go to the following page and choose a new password:" %}
    {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
  </p>
  <p>{% translate 'Your username:' %} <strong>{{ user.username }}</strong></p>
{% endautoescape %}