{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %} | {% endblock title %}

{% block content %}
  <div class="container pt-5">
    <h2>{% trans "Reset Password" %}</h2>
    {% if 'login' in request.META.HTTP_REFERER %}
    <p>{% trans 'Oh no, that’s uncool. But no worries, type your email in the field below and we’ll tell you what to do. You haven’t forgotten your email, have you?' %}</p>
    {% endif %}
    <form method="post" class="auth-form">{% csrf_token %}
      {% include '_form.html' with form=form %}
      <div class="btn-wrap">
        <button class="btn" type='submit'>{% trans "Reset my password" %}</button>
        {% if not request.user.is_authenticated %}
          <small><a class="text-muted" href="{% url 'login' %}">Login page</a></small>
        {% else %}
          <small><a class="text-muted" href="{% url 'home' %}">Homepage</a></small>
        {% endif %}
      </div>
    </form>
    {% include '_footer_simple.html' %}
  </div>
{% endblock %}