{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "New password" %} | {% endblock title %}

{% block content %}

  <div class="container pt-5">
  {% if validlink %}
    <form method="post" class="form auth-form">{% csrf_token %}
      <h2>{% trans "Enter New Password" %}</h2>
      <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% include '_form.html' with form=form %}
        <button class="btn" type='submit'>{% trans "Change my password" %}</button>
    </form>
  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used." %} <a href="{% url 'password_reset' %}">{% trans "Please request a new password reset." %}</a></p>
  {% endif %}
    {% include '_footer_simple.html' %}
  </div>
{% endblock %}