<footer>
  <ul>
    {% if not request.path == "/" %}
    <li><a href="{% url 'home' %}">Home</a></li>
    {% endif %}
    {% if not request.user.is_authenticated and '/register' not in request.path and '/login' not in request.path %}
    <li><a href="{% url 'register' %}">Register</a></li>
    {% endif %}
    {% if '/about' not in request.path and '/dashboard' not in request.path %}
    <li><a href="{% url 'about' %}">About</a></li>
    {% endif %}
    <li><a href="{% url 'link-api:about' %}">API</a></li>
    {% if request.user.is_authenticated and '/settings' not in request.path %}
    <li><a href="{% url 'user-settings' %}">Settings</a></li>
    {% endif %}
  </ul>
</footer>
